.task-creator {
    width: 75%; 
    max-width: 800px;

    &__row {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px) saturate(180%);
        -webkit-backdrop-filter: blur(12px) saturate(180%);
        border-radius: 0 0 12px 12px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: none;
        padding: 6px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
        margin-top: -1px;
    }

    &__row-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px; // Space between buttons
        flex-shrink: 0;
    }
}