.task-creator {

    &__row {
        background-color: #f7f7ff;
        border-radius: 0 0 5px 5px;
        border-top: solid 2px #f3f3f3;
        padding: 10px 10px;
        position: relative;
        top: -3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row-actions {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}