.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
        margin-bottom: 30px;
    }

    &__form {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        // border: solid #FFF;
        border-radius: 5px;

        input {
            margin-top: 20px;
            height: 30px;
            padding: 5px 10px;
            background: transparent;
            font-size: large;
        }

        button {
            margin-top: 20px;
            color: rgb(255, 255, 255);
            font-size: large;
        }
    }

    &__form-submit-btn {
        margin-top: 20px;
    }
}