.provider-container {
  display: flex;
  justify-content: space-between;

  &__form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.historic {
    display: flex;
    justify-content: space-between;
}
