.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;

    &__company {
        display: flex;
        align-items: center;
    }

    &__hamburger {
        border: none;
        background: transparent;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-right: 12px;
        display: none;
    }

    &__text{
        font-size: 2rem;
        font-weight: bold;
    }

    &__logo {
        width: 150px;
        padding-right: 20px;
        border-radius: 5px;
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;
        right: 20px;
    }

    @media (max-width: 767px) {
      &__hamburger {
        display: inline-flex;
      }

      &__logo {
        width: 100px;
      }

      &__text {
        font-size: 1rem; /* -50% de 2rem */
      }

      &__user {
        right: 8px;
      }
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;
        right: 20px;
    }

    &__user-image {
        width: 50px;
        padding-right: 10px;
    }
}